<hr>

    <div id="social-logos">
           <a href="https://www.facebook.com/john.bukenas" target=_blank><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i></a>
           <a href="https://twitter.com/johnbukenas" target=_blank><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
           <a href="http://instagram.com/johnbukenas" target=_blank><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
           <a href="https://soundcloud.com/john-bukenas-1" target=_blank><i class="fa fa-soundcloud fa-2x" aria-hidden="true"></i></a>
           <a href="https://www.paypal.com/home" target=_blank><i class="fa fa-cc-paypal fa-2x" aria-hidden="true"></i></a>
       </div> 

    <footer>
        <p> &copy 2016 Audio Editing Solutions, All Rights Reserved </p>
    </footer>
    
    <script src="/js/tools.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    </body>
</html>