<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>AudioEditingSolutions</title>
        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
        <link  rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
         
        </head>
    <body class="bodcolor">
       <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    
     <a class="navbar-brand" href="/"><i class="fa fa-microphone" aria-hidden="true"></i>   AudioEditingSolutions</a>
      
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="/clients">Our Clients <span class="sr-only">(current)</span></a></li>
        <li><a href="/workflow">Workflow</a></li>
        <li><a href="/getstarted">Get Started</a></li>
        <li><a href="/pricing">Pricing</a></li>
        <li><a href="/about">About Us</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
    
   