<% include partials/header %>

<div class="container">
    <div class="row text-center" id="about">
        <h1 class="fade-in">About Us</h1>
    </div>
    
    <div class="row text-center">
          <div class="col-lg-6 col-md-6">
              <div class="well well-lg">
                  <figure>
                      <img class="profilepic" src="https://lh6.googleusercontent.com/-s1qSVgtVI9I/AAAAAAAAAAI/AAAAAAAATR4/NNxB7b8nn4Y/photo.jpg">
                      <figcaption><strong>John Bukenas</strong></figcaption>
                  </figure>
                  <p>
                     Bacon ipsum dolor amet pork belly beef ribs tail, chicken shoulder jowl shankle. Pastrami corned beef strip steak leberkas ribeye short ribs cupim. Meatball ribeye beef ribs spare ribs jerky hamburger ball tip. Porchetta hamburger meatball, filet mignon kevin drumstick salami bresaola turkey leberkas sausage beef ribs frankfurter. Spare ribs tenderloin pig, pork belly bacon pancetta ribeye alcatra swine kielbasa. Filet mignon picanha shoulder chuck. Jerky meatball beef landjaeger bacon biltong pork chop ham pork sirloin cow t-bone. 
                  </p>
              </div>
          </div>
     
          <div class="col-lg-6 col-md-6">
              <div class="well well-lg">
                  <figure>
                      <img class="profilepic" src="https://lh6.googleusercontent.com/-s1qSVgtVI9I/AAAAAAAAAAI/AAAAAAAATR4/NNxB7b8nn4Y/photo.jpg">
                      <figcaption><strong>Justin Hellstrom</strong></figcaption>
                  </figure>
                  <p>
                      Turkey leberkas pork chop, jowl filet mignon swine ribeye ham venison hamburger tri-tip flank brisket pork belly sirloin. Tri-tip shankle pig, venison pork tongue ham. Beef shankle brisket, ham tail chicken ground round boudin pork loin ham hock tongue cow meatloaf fatback leberkas. Landjaeger boudin short ribs, venison turkey jowl beef ribs pork chop ground round turducken t-bone. Pork loin short loin doner chuck pork ground round andouille jowl shank pastrami corned beef. Tenderloin tail shoulder, kielbasa tri-tip ball tip ham hock landjaeger bacon kevin prosciutto shank capicola. Jerky salami meatloaf bresaola pork chop.
                  </p>
              </div>
          </div>
     </div>
</div>

<% include partials/footer %>