<% include partials/header %>

<div class="container">
    <div class ="row text-center" id="about">
        <h1 id="clients">Our Clients</h1>
        
    </div>
    
    <div class="row text-center">
      <div class="col-xs-6 col-md-3">
         <a href="http://newmommymedia.com"  target=_blank class="thumbnail">
           <img class="img-thumbnail" class="clientimage" src="/images/newmommymedialogo.jpg">
         </a>
      </div>
        
    <div class="col-xs-6 col-md-3">
      <a href="http://noodle.mx"  target=_blank class="thumbnail">
        <img class="img-thumbnail" class="clientimage" src="/images/audacity.jpg">
      </a> 
    </div>
           
        
    <div class="col-xs-6 col-md-3">
      <a href="http://shepodcasts.com"  target=_blank class="thumbnail">    
       <img class="img-thumbnail" class="clientimage" src="/images/shepodcasts.png">
      </a>
    </div>
          
        
    <div class="col-xs-6 col-md-3">
      <a href="http://denimrivet.com"  target=_blank class="thumbnail">      
      <img class="img-thumbnail" class="clientimage" src="/images/denimrivet.png">
      </a>
    </div>
         
        
    <div class="col-xs-6 col-md-3">
      <a href="http://soulshepherding.org"  target=_blank class="thumbnail">  
       <img class="img-thumbnail" class="clientimage" src="/images/soulshepherding.jpg">
      </a>
    </div>
        
    <div class="col-xs-6 col-md-3">
      <a href="http://fit4mom.com"  target=_blank class="thumbnail">
       <img class="img-thumbnail" class="clientimage" src="/images/motivatingMom.jpg">
      </a>
    </div>
          
        
    <div class="col-xs-6 col-md-3">
      <a href="http://dvpodcasts.com"  target=_blank class="thumbnail">
        <img class="img-thumbnail" class="clientimage" src="/images/homeofficefit.jpg">
      </a>
     </div>
          
        
    <div class="col-xs-6 col-md-3">
      <a href="http://craftlit.com"  target=_blank class="thumbnail">
        <img class="img-thumbnail" class="clientimage" src="/images/craftlit.jpg">
      </a>
    </div>
         
        
    <div class="col-xs-6 col-md-3">
      <a href="http://theproductivewoman.com"  target=_blank class="thumbnail">
        <img class="img-thumbnail" class="clientimage" src="/images/productive_woman.jpg">
      </a>
     </div>
        
        
    <div class="col-xs-6 col-md-3">
      <a href="http://marydemuth.com"  target=_blank class="thumbnail">
        <img class="img-thumbnail" class="clientimage" src="/images/restory.jpg">
      </a>
     </div>
         
    <div class="col-xs-6 col-md-3">
      <a href="http://marydemuth.com"  target=_blank class="thumbnail">
        <img class="img-thumbnail" class="clientimage" src="/images/byhyu.jpg">
      </a>
    </div>
        
    <div class="col-xs-6 col-md-3">
      <a href="http://mtgprotutor.com"  target=_blank class="thumbnail">
        <img class="img-thumbnail" class="clientimage" src="/images/mtg.jpg">
      </a>
    </div>
       
<% include partials/footer %>