<% include partials/header %>
<h1 id="getstarted">Get Started</h1>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class ="well well-lg">
                <form action="/getstartedForm" method="POST">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" name="name" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <label for="Email">Email</label>
                        <input type="text" class="form-control" name="email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="weburl">What is your website address?</label>
                        <input type="text" class="form-control" name="weburl" placeholder="Web address">
                    </div>
                    <div class="form-group">
                        <label for="Comments">Comments</label>
                        <textarea class="form-control" name="comments" rows="5" placeholder="Feel free to ask questions, make comments or just rant about something..."></textarea>
                    </div>
                    <div><button class="btn btn-primary">Submit</button></div>
                </form>
                
            </div>
        </div>
    
    
    </div>
</div>
<% include partials/footer %>