<% include partials/header %>

<div class="container">
    <div id="logo">
      <img class="img-responsive" id="mainlogo" src="/images/aes.jpg">
    </div>
    
    <header class="jumbotron">
        <div>
            
            <p><strong>Audio Editing Solutions</strong> specializes in creating custom solutions for both the beginner and the established podcaster. As a Podcaster you want to provide great sounding audio content without taking the time to learn audio editing software, like Audacity, Adobe Audition, or Garageband.
The editing process can be tedious and frustrating. Especially when you are just starting out. That’s when professional editing is most beneficial.</p>
            <p>
                
        </div>
    </header>
    
    <div class ="row text-center">
        <h3 id="testimonials">Testimonials</h3>
    </div>
    
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div>
        <a href="http://noodle.mx" target=_blank><img class="testimg" src="/images/audacity.jpg" alt="..."></a>
        <div class="caption">
          <p>“I’m very controlling of my own content and I initially didn’t want someone else editing my podcasts. But I realized that podcasting was keeping me from podcasting! I either spent too much time editing, or I published content that I wasn’t 100% proud of. With John’s editing help, I can focus on delivering my message the best that I can! It’s wonderful to upload my recording to John and receive a finished podcast later.”
          <strong>Daniel J. Lewis</strong></p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div>
        <a href="http://fit4mom.com" target=_blank><img class="testimg" src="/images/motivatingMom.jpg" alt="..."></a>
        <div class="caption">
          <p>“John Bukenas is my podcast angel. He saved me from the parts that I don’t like (and wasn’t good at) so that I can focus on what I love and what I do best (creating content). He makes podcasting so easy and he is incredible to work with. It’s been a long time since I have experienced the hands on care and service that John gives to every show.”
          <strong>Lisa Druxman</strong></p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div >
        <a href="http://theproductivewoman.com" target=_blank><img class="testimg" src="/images/productive_woman.jpg" alt="..."></a>
        <div class="caption">
          <p>“I think you made us sound amazing. (Honestly, I’ve hesitated about this because I felt like I stumbled around way too much. You fixed me!) I listened to the whole show the other night and nearly cried. You made us sound so good. Thank you.  I’ve been so grateful for your help with The Productive Woman and so thrilled with the work you’ve done on Ride Every Stride, so of course I recommend you whenever anybody asks.”
          <strong>Laura McClellan</strong></p>
        </div>
      </div>
    </div>
  </div>
</div>

<% include partials/footer %>