<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>AudioEditingSolutions</title>
        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
        <link  rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
         <link rel="stylesheet" href="/stylesheets/main.css">
         
        </head>
        
        <body>
        <!--landing page code provided by coverr.co-->
<div class="homepage-hero-module">
    <div class="video-container">
        <div class="filter"><a id="myfilter" href="/home"><h1>AudioEditingSolutions</h1></a></div>
        <video autoplay loop class="fillWidth">
           
            <source src="/images/Ma-Vibes.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
            <source src="/images/Ma-Vibes.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
        </video>
        
        <div class="poster hidden">
            
            <img src="/images/Ma-Vibes.jpg" alt="">
        </div>
        
    </div>
    
</div>
    <script src="/js/tools.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
