<% include partials/header %>


<div class="container">
    <p>Audio Editing What You Do:
Record your audio
Upload your audio to Dropbox
What We Do:
Pre-production:
Pre-production meeting to discuss technical needs and your show format
Equipment recommendations and setup assistance
Help setting up your Podcast Feed (Libsyn, Blurry)
Help setting up your hosting service (Libsyn, Blubrry, Sound Cloud, etc.)
Pre show testing of your audio equipment and Dropbox setup
Post-production:
Mixing your intro and outro with segments
Minute-to-minute listening to catch and correct errors
Cut out unwanted words and sounds like when a speaker says “um…” or “uh…”, likes, you knows, where possible, etc.
Remove unwanted silence in the recording
Remove parts of a conversation, such as unwanted words, sentences, or even whole topics
Applying Audio-effects, including vocal balancing, vocal compression, noise reduction, hiss/hum removal, and equalization.
Matching Volume final audio to -16 LUFS stereo / -19 LUFS mono
Adding any commercials or special audio segments
Adding professional compression, noise reduction, and equalization to your voice
Mixing to mp3, adding ID3 tags, and uploading to the hosting service
Adding titles, tags, album art, and SEO tagging</p>
</div>

<% include partials/footer %>