<% include partials/header %>

<h1 id="workflow">Audio Editing</h1>
<div class="container">
    <p><strong>What You Do:</strong></p>
        <ul>
            <li>Record your audio.</li>
            <li>Upload your audio to Dropbox.</li>
        </ul>
<p><strong>What We Do:</strong></p>
<p>Pre-production:</p>
<ul>
    <li>Pre-production meeting to discuss technical needs and your show format.</li>
    <li>Equipment recommendations and setup assistance.</li>
    <li> Help setting up your Podcast Feed (Libsyn, Blurry).</li>
    <li>Help setting up your hosting service (Libsyn, Blubrry, Sound Cloud, etc.).</li>
    <li>Pre show testing of your audio equipment and Dropbox setup.</li>
</ul>

<p>Post-production:</p>
<ul>
    <li> Mix your intro and outro with segments.</li>
    <li>Minute-to-minute listening to catch and correct errors.</li>
    <li>Cut out unwanted words and sounds like when a speaker says “um…” or “uh…”, likes, you knows, where possible, etc.</li>
    <li>Remove unwanted silence in the recording.</li>
    <li>Remove parts of a conversation, such as unwanted words, sentences, or even whole topics.</li>
    <li>Apply Audio-effects including vocal balancing, vocal compression, noise reduction, hiss/hum removal, and equalization.</li>
    <li>Match Volume final audio to -16 LUFS stereo / -19 LUFS mono.</li>
    <li>Add any commercials or special audio segments.</li>
    <li>Add professional compression, noise reduction, and equalization to your voice.</li>
    <li>Mix to mp3, adding ID3 tags, and uploading to the hosting service.</li>
    <li>Add titles, tags, album art, and SEO tagging.</li>
</ul>

</div>

<% include partials/footer %>